.inputField {
  background-color: white;
  border: gray 1px solid;
  color: black;
}

.searchBtn {
  background-color: lightgray;
  border: 1px black solid;
  color: black;
}

.form {
  margin-left: 10px;
  margin-top: 20px;
}
